body {
  background-color: rgb(95, 177, 255);
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  top: -300px;
  font-size: 50px;
  right: -70px;
}

.forky {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  background-color: rgb(95, 177, 255);
}

.face {
	width: 300px;
	height: 300px;
	background: #f0f0f0;
	position: absolute;
	border-radius: 65% 30% 65% 28%;
	transform: rotate(-45deg);
  top: -135px;
  left: -147px;
}

.face-mask1 {
  background: rgb(95, 177, 255);
  width: 300px;
  height: 75px;
  position: absolute;
  left: -150px;
  top: -180px;
}

.prong1, .prong2, .prong3, .prong4 {
  width: 193px;
  height: 189px;
  background: #f0f0f0;
  border-radius: 100% 0% 100% 0%;
  transform: rotate(-44deg);
  position: absolute;
  top: -121px;
  left: -159px;
}

.prong2 {
  left: -116px;
  transform: rotate(45deg) rotateY(180deg);
  top: -135px;
}

.prong3 {
  left: -74px;
  top: -135px;
}

.prong4 {
  left: -30px;
  transform: rotate(45deg) rotateY(180deg);
}

.eye1 {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  top: -60px;
  left: -100px;
  background: white;
  box-shadow: 1px 1px 2px 0px #7f7f7f;
}

.eye2 {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  top: -35px;
  left: 20px;
  background: white;
  box-shadow: 1px 1px 2px 0px #7f7f7f;
}

.pupil1 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  top: 40px;
  left: 8px;
  background: black;
}

.pupil2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  top: 25px;
  left: 10px;
  background: black;
}